<header class="header">
	<div class="header__area">
		<div class="header__container">
			<a href="#" class="logo header__logo">
				<picture>
					<source srcset="../assets/img/logo_light.svg" media="(max-width: 450px)" />
					<img src="../assets/img/logo.svg" alt="" />
				</picture>
			</a>
			<nav class="menu">
				<div class="menu__wrap">
					<div class="menu__header">
						<span class="menu__header-title">Меню</span>
						<button class="burger is-active menu__header-close" data-menu-close>
							<span></span><span></span><span></span>
						</button>
					</div>
					<div class="menu__body">
						<ul class="menu__list">
							<li class="menu__list-item"><a href="#">О конференции</a></li>
							<li class="menu__list-item"><a href="#">Программа</a></li>
							<li class="menu__list-item"><a href="#">Спикеры</a></li>
							<li class="menu__list-item"><a href="#">Место проведения</a></li>
							<li class="menu__list-item"><a href="#">Организаторы и партнёры</a></li>
							<li class="menu__list-item"><a href="#">Контакты</a></li>
						</ul>
					</div>
					<div class="menu__footer">
						<a href="#" class="menu__lang is-en">En</a>
						<button class="btn is-accent menu__signup">Регистрация</button>
					</div>
				</div>
			</nav>
			<button class="burger header__burger" data-menu-open><span></span><span></span><span></span></button>
		</div>
	</div>
</header>
