// Основной шаблон кнопки
.btn {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 400;
	color: var(--color, inherit);
    border-radius: 50px;
	padding: 12px 24px;
    white-space: nowrap;
    user-select: none;
    transition: $tr;

	// &.has-icon {

	// 	&::before {
	// 		content: '';
	// 		display: inline-block;
	// 		@include strictSize( var(--icon-size, 24px) );
	// 		mask: center/contain no-repeat var(--icon);
	// 		vertical-align: middle;
	// 		background: var(--icon-color, var(--color));
	// 		transition: $tr;
	// 	}
	// }

	&.is-accent {
		background: $accent;
		border-radius: 50px;
		color: $light;
		font-weight: 700;

		&:active {
			background: $accent-hover;
		}

		@media (any-hover: hover) {

			&:hover {
				background: $accent-hover;
			}

			&:active {
				background: $accent-active;
			}
		}
	}

	&:active {

	}

	@media (any-hover: hover) {

		&:hover {
			--color: #{$accent};
		}

		&:active {

		}
	}

	@media (max-width: $tablet) {
		height: 40px;
	}

	@media (max-width: $mobile-l) {
		// height: 32px;
		font-size: 12px;
		padding: 8px 16px;
	}
}

@mixin link {
	--color: #{$text-primary};

	color: var(--color);
	transition: $tr;

	&:active {
		--color: #{$accent};
	}

	@media (any-hover: hover) {

		&:hover {
			--color: #{$accent};
		}

		&:active {
			--color: #{$accent};
			opacity: .8;
		}
	}
}

.link {
	@include link;

    @media (any-hover: hover) {

        &:hover {
            color: $accent;
        }
    }

    &:active {
        color: brig-color($accent, active);
    }
}
